/**
  *
  * Testing
  *
  **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* body {
  font-family: "Bellefair", serif;
}
* body .container nav {
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  z-index: 99;
  background: #ffffff;
}
* body .container nav img {
  max-width: 1030px;
  height: auto;
}
* body .container nav .list {
  list-style: none;
  display: flex;
}
* body .container nav .list a {
  margin: 20px;
  text-decoration: none;
  color: #333;
}
* body .container nav .list a li {
  font-size: 22px;
}
@media (max-width: 900px) {
  * body .container nav {
    display: none;
  }
}
* body .container .sidebar-container {
  background: #ffffff;
  padding: 10px 0;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: fixed;
  z-index: 99;
  width: 100%;
}
* body .container .sidebar-container img {
  width: 20px;
  height: auto;
  margin-left: 3%;
  margin-top: 0px;
}
@media (min-width: 900px) {
  * body .container .sidebar-container img {
    display: none;
  }
}
* body .container .sidebar-container .overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: #ffffff;
  overflow: hidden;
  transition: 0.5s;
}
* body .container .sidebar-container .overlay button {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
* body .container .sidebar-container .overlay button:hover, * body .container .sidebar-container .overlay button:focus {
  color: blue;
}
@media (min-width: 900px) {
  * body .container .sidebar-container .overlay button {
    font-size: 20px;
  }
}
* body .container .sidebar-container .overlay .closebtn {
  position: absolute;
  top: 12px;
  right: 40px;
  font-size: 20px;
}
* body .container .sidebar-container .overlay .closebtn svg:hover path {
  fill: blue;
}
@media (min-width: 900px) {
  * body .container .sidebar-container .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
* body .container .sidebar-container .overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
* body .container .sidebar-container .overlay .overlay-content a {
  font-size: 30px;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  padding-bottom: 10px;
}
* body .container .sidebar-container .overlay .overlay-content a:hover {
  color: blue;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
@media (min-width: 900px) {
  * body .container .sidebar-container .overlay {
    display: none;
  }
}
@media (min-width: 900px) {
  * body .container .sidebar-container {
    background: none;
  }
}
* body .container .sidebar-container .openbtn {
  position: absolute;
  cursor: pointer;
  right: 7%;
  top: 15px;
  width: 30px;
}
* body .container .sidebar-container .openbtn:hover {
  color: blue;
}
@media (min-width: 900px) {
  * body .container .sidebar-container .openbtn {
    display: none;
  }
}
* body .container .contentcontainer {
  background: #f7f7f7;
  height: auto;
  width: 100vw;
  z-index: 0;
  padding-bottom: 50px;
  margin-top: 76px;
}
@media (max-width: 900px) {
  * body .container .contentcontainer {
    padding: 0 10px;
    margin-top: 30px;
  }
}
@media (min-width: 900px) {
  * body .container .contentcontainer .contentdiv {
    margin: 0 13%;
  }
}
@media (min-width: 1367px) {
  * body .container .contentcontainer .contentdiv {
    margin: 0 20%;
  }
}
* body .container .contentcontainer .contentdiv .section {
  background: #f7f7f7;
  padding: 20px 0;
  padding: 0px 20px 50px 20px;
}
* body .container .contentcontainer .contentdiv .section .content {
  grid-template-columns: 60% 40%;
  display: grid;
  padding: 80px 0;
}
@media (max-width: 900px) {
  * body .container .contentcontainer .contentdiv .section .content {
    grid-template-columns: 100%;
  }
}
@media (max-width: 900px) {
  * body .container .contentcontainer .contentdiv .section .content .details {
    grid-row-start: 2;
    text-align: center;
  }
}
* body .container .contentcontainer .contentdiv .section .content .details h2 {
  font-size: 40px;
}
@media (min-width: 900px) and (max-width: 1050px) {
  * body .container .contentcontainer .contentdiv .section .content .details h2 {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  * body .container .contentcontainer .contentdiv .section .content .details h2 {
    font-size: 25px;
  }
}
* body .container .contentcontainer .contentdiv .section .content .details p {
  font-size: 20px;
  color: #999;
  padding: 15px 30px 15px 0;
}
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon .github,
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon .linkedin,
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon .netlify {
  width: 30px;
  height: auto;
}
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon .github:first-child,
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon .linkedin:first-child,
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon .netlify:first-child {
  margin-right: 30px;
}
@media (max-width: 480px) {
  * body .container .contentcontainer .contentdiv .section .content .details .socialIcon .github:first-child,
  * body .container .contentcontainer .contentdiv .section .content .details .socialIcon .linkedin:first-child,
  * body .container .contentcontainer .contentdiv .section .content .details .socialIcon .netlify:first-child {
    margin-right: 15px;
  }
}
@media (max-width: 480px) {
  * body .container .contentcontainer .contentdiv .section .content .details .socialIcon .github,
  * body .container .contentcontainer .contentdiv .section .content .details .socialIcon .linkedin,
  * body .container .contentcontainer .contentdiv .section .content .details .socialIcon .netlify {
    width: 22px;
  }
}
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon .render {
  width: 50px;
}
@media (max-width: 480px) {
  * body .container .contentcontainer .contentdiv .section .content .details .socialIcon .render {
    width: 43px;
  }
}
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon a {
  text-decoration: none;
}
* body .container .contentcontainer .contentdiv .section .content .details .socialIcon a .live {
  /* background: #000; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  text-decoration: none;
  opacity: 0.8;
  font-size: 20px !important;
  margin-bottom: 3px;
  margin-left: 18px;
}
@media (max-width: 480px) {
  * body .container .contentcontainer .contentdiv .section .content .details .socialIcon a .live {
    font-size: 16px !important;
    margin-left: 12px;
  }
}
@media (max-width: 900px) {
  * body .container .contentcontainer .contentdiv .section .content .details {
    margin: 20px 0;
  }
}
@media (min-width: 900px) and (max-width: 1050px) {
  * body .container .contentcontainer .contentdiv .section .content .details {
    width: 450px;
  }
}
* body .container .contentcontainer .contentdiv .section .content .details .resume {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
* body .container .contentcontainer .contentdiv .section .content .details .resume h2 {
  font-size: 25px;
  font-weight: normal;
}
* body .container .contentcontainer .contentdiv .section .content .details .resume a {
  margin-left: 30px;
}
* body .container .contentcontainer .contentdiv .section .content .details .resume a img {
  width: 35px;
  margin-top: 0px;
}
* body .container .contentcontainer .contentdiv .section .content .profile {
  position: relative;
  overflow: hidden;
  height: 300px;
}
@media (max-width: 900px) {
  * body .container .contentcontainer .contentdiv .section .content .profile {
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
* body .container .contentcontainer .contentdiv .section .content .profile .me {
  border: 2px solid rgb(38, 37, 37);
  width: 200px;
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: auto;
  transition: all 1s ease-in-out;
  z-index: 5;
  position: absolute;
  right: 0;
}
@media (max-width: 900px) {
  * body .container .contentcontainer .contentdiv .section .content .profile .me {
    position: relative;
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  }
}
@media (max-width: 900px) {
  * body .container .contentcontainer .contentdiv .section .content .profile {
    margin: -20px 0 20px 0;
  }
}
* body .container .contentcontainer .contentdiv .section .skills {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
@media (max-width: 1562px) {
  * body .container .contentcontainer .contentdiv .section .skills {
    flex-direction: column;
  }
}
* body .container .contentcontainer .contentdiv .section .skills h2 {
  font-size: 20px;
}
@media (max-width: 1562px) {
  * body .container .contentcontainer .contentdiv .section .skills h2 {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #818181;
    padding-bottom: 20px;
    font-size: 22px;
  }
}
* body .container .contentcontainer .contentdiv .section .skills h2 span {
  display: none;
}
* body .container .contentcontainer .contentdiv .section .skills .skillsLogo {
  margin-left: 30px;
  background: #ffffff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1562px) {
  * body .container .contentcontainer .contentdiv .section .skills .skillsLogo {
    margin-left: 0;
  }
}
* body .container .contentcontainer .contentdiv .section .skills .skillsLogo img {
  padding: 5px;
  margin: 0 10px;
  width: 70px;
  height: auto;
}
* body .container .aboutcontainer {
  z-index: -1;
  padding-top: 100px !important;
}
@media (max-width: 900px) {
  * body .container .aboutcontainer {
    padding: 0 10px;
    padding-top: 100px !important;
  }
}
* body .container .aboutcontainer .aboutdiv {
  padding: 30px 0;
}
@media (min-width: 900px) {
  * body .container .aboutcontainer .aboutdiv {
    margin: 0 13%;
  }
}
@media (min-width: 1367px) {
  * body .container .aboutcontainer .aboutdiv {
    margin: 0 20%;
  }
}
* body .container .aboutcontainer .aboutdiv .about {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 180px;
}
@media (max-width: 1200px) {
  * body .container .aboutcontainer .aboutdiv .about {
    grid-template-columns: 100%;
  }
}
* body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer {
  overflow: hidden;
  width: 450px;
  height: 380px;
  position: relative;
  padding-bottom: 30px;
}
@media (max-width: 1200px) {
  * body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer {
    grid-row-start: 1;
    width: 100%;
  }
}
* body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer .aboutimg {
  width: 86%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../Img/about.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  * body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer .aboutimg {
    width: 100%;
  }
}
* body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer .rotate {
  right: 0px;
  bottom: -10px;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}
@media (max-width: 1200px) {
  * body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer .rotate {
    right: 30px;
  }
}
* body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer .rotate .circle {
  overflow: hidden;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
* body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer .rotate .circle .logo {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url("../Img/laptop.svg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
* body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer .rotate .circle .text {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotateText 15s linear infinite;
}
* body .container .aboutcontainer .aboutdiv .about .aboutimgcontainer .rotate .circle .text span {
  position: absolute;
  left: 50%;
  top: 18px;
  font-size: 15px;
  transform-origin: 0 75px;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
* body .container .aboutcontainer .aboutdiv .about .abouttext {
  padding: 0 10px;
  width: 450px;
  height: 380px;
}
@media (max-width: 1200px) {
  * body .container .aboutcontainer .aboutdiv .about .abouttext {
    grid-row-start: 2;
    text-align: center;
    width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 1024px) {
  * body .container .aboutcontainer .aboutdiv .about .abouttext {
    width: 100%;
    height: 300px;
    margin-top: -100px;
  }
}
* body .container .aboutcontainer .aboutdiv .about .abouttext h2 {
  color: #147efb;
  font-size: 30px;
}
* body .container .aboutcontainer .aboutdiv .about .abouttext h3 {
  padding: 20px 0;
  line-height: 28px;
  font-size: 25px;
}
* body .container .aboutcontainer .aboutdiv .about .abouttext p {
  font-size: 20px;
  line-height: 25px;
}
* body .container .projectcontainer {
  background: #f7f7f7;
  z-index: -1;
  padding: 80px 0;
  padding-top: 100px !important;
}
@media (max-width: 900px) {
  * body .container .projectcontainer {
    padding: 0 10px;
  }
}
* body .container .projectcontainer .projectdiv {
  padding: 30px 0;
}
@media (min-width: 900px) {
  * body .container .projectcontainer .projectdiv {
    margin: 0 13%;
  }
}
@media (min-width: 1367px) {
  * body .container .projectcontainer .projectdiv {
    margin: 0 20%;
  }
}
* body .container .projectcontainer .projectdiv h2 {
  color: blue;
}
* body .container .projectcontainer .projectdiv p {
  font-size: 28px;
  padding: 15px 0 50px 0;
}
* body .container .projectcontainer .projectdiv .project {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  * body .container .projectcontainer .projectdiv .project {
    flex-direction: column;
    height: 620px;
    margin-bottom: 80px !important;
  }
}
@media (max-width: 640px) {
  * body .container .projectcontainer .projectdiv .project {
    height: 640px;
  }
}
@media (max-width: 448px) {
  * body .container .projectcontainer .projectdiv .project {
    height: 660px;
  }
}
* body .container .projectcontainer .projectdiv .project .box {
  background: #b1cd42;
  width: 100%;
  height: 300px;
  background-position: top;
  transition: ease-in-out 6s;
}
* body .container .projectcontainer .projectdiv .project .box:hover {
  background-position: bottom;
}
* body .container .projectcontainer .projectdiv .project .box.box1 {
  width: 48%;
  background-size: cover;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 1024px) {
  * body .container .projectcontainer .projectdiv .project .box.box1 {
    width: 100%;
  }
}
* body .container .projectcontainer .projectdiv .project .box2 {
  width: 48%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  * body .container .projectcontainer .projectdiv .project .box2 {
    width: 100%;
  }
}
@media (max-width: 448px) {
  * body .container .projectcontainer .projectdiv .project .box2 {
    height: 500px;
    margin-top: 30px !important;
  }
}
* body .container .projectcontainer .projectdiv .project .box2 p {
  font-size: 20px;
}
* body .container .projectcontainer .projectdiv .project .box2 .technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0 30px 0;
}
* body .container .projectcontainer .projectdiv .project .box2 .technologies button {
  margin-top: 20px;
  font-size: 20px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 0 20px;
  border: none;
  background: none;
  height: 30px;
}
* body .container .projectcontainer .projectdiv .project .box2 .technologies button:first-child {
  margin-right: 10px;
}
* body .container .projectcontainer .projectdiv .project .box2 .sampleofcode {
  display: flex;
  align-items: center;
  justify-content: center;
}
* body .container .projectcontainer .projectdiv .project .box2 .sampleofcode .github {
  display: flex;
  align-items: center;
  padding-right: 25px;
}
* body .container .projectcontainer .projectdiv .project .box2 .sampleofcode .github h1 {
  font-size: 20px;
}
* body .container .projectcontainer .projectdiv .project .box2 .sampleofcode .github img {
  margin-left: 15px;
  width: 30px;
}
* body .container .projectcontainer .projectdiv .project .box2 .sampleofcode .demo {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
* body .container .projectcontainer .projectdiv .project .box2 .sampleofcode .demo h1 {
  font-size: 20px;
}
* body .container .projectcontainer .projectdiv .project .box2 .sampleofcode .demo img {
  margin-left: 15px;
  width: 27px;
}
* body .container .projectcontainer .projectdiv .project-2 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  * body .container .projectcontainer .projectdiv .project-2 {
    flex-direction: column;
    height: 620px;
    margin-bottom: 80px !important;
  }
}
@media (max-width: 640px) {
  * body .container .projectcontainer .projectdiv .project-2 {
    height: 640px;
  }
}
@media (max-width: 448px) {
  * body .container .projectcontainer .projectdiv .project-2 {
    height: 660px;
  }
}
* body .container .projectcontainer .projectdiv .project-2 .box {
  background: #b1cd42;
  width: 100%;
  height: 300px;
  background-position: top;
  transition: ease-in-out 6s;
}
* body .container .projectcontainer .projectdiv .project-2 .box:hover {
  background-position: bottom;
}
* body .container .projectcontainer .projectdiv .project-2 .box.box1 {
  width: 48%;
  background-size: cover;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 10px;
  padding: 10px;
  transition: ease-in-out 3s;
}
@media (max-width: 1024px) {
  * body .container .projectcontainer .projectdiv .project-2 .box.box1 {
    width: 100%;
  }
}
* body .container .projectcontainer .projectdiv .project-2 .box2 {
  width: 48%;
  overflow: hidden;
  height: auto;
}
@media (max-width: 1024px) {
  * body .container .projectcontainer .projectdiv .project-2 .box2 {
    width: 100%;
  }
}
* body .container .projectcontainer .projectdiv .project-2 .box2 p {
  font-size: 20px;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0 30px 0;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .technologies button {
  margin-top: 20px;
  font-size: 20px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 0 20px;
  border: none;
  background: none;
  height: 30px;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .technologies button:first-child {
  margin-right: 10px;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .sampleofcode {
  display: flex;
  align-items: center;
  justify-content: center;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .sampleofcode .github {
  display: flex;
  align-items: center;
  padding-right: 25px;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .sampleofcode .github h1 {
  font-size: 20px;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .sampleofcode .github img {
  margin-left: 15px;
  width: 30px;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .sampleofcode .demo {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .sampleofcode .demo h1 {
  font-size: 20px;
}
* body .container .projectcontainer .projectdiv .project-2 .box2 .sampleofcode .demo img {
  margin-left: 15px;
  width: 27px;
}
* body .container .contact-container {
  background: #ffffff;
  padding: 100px 0 !important;
}
@media (max-width: 900px) {
  * body .container .contact-container {
    padding: 0 10px !important;
    padding: 100px 0 !important;
  }
}
* body .container .contact-container .contact {
  margin: 0 13%;
}
@media (min-width: 900px) {
  * body .container .contact-container .contact {
    margin: 0 13%;
  }
}
@media (min-width: 1367px) {
  * body .container .contact-container .contact {
    margin: 0 20%;
  }
}
* body .container .contact-container .contact h2 {
  color: blue;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 900px) {
  * body .container .contact-container .contact h2 {
    text-align: center;
  }
}
* body .container .contact-container .contact h1 {
  padding: 20px 0;
  font-weight: bold;
}
@media (max-width: 900px) {
  * body .container .contact-container .contact h1 {
    text-align: center;
  }
}
* body .container .contact-container .contact .contact-flex {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  * body .container .contact-container .contact .contact-flex {
    flex-direction: column;
    justify-content: center;
  }
}
* body .container .contact-container .contact .contact-flex .location {
  display: flex;
  align-items: center;
}
* body .container .contact-container .contact .contact-flex .location .contact-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
* body .container .contact-container .contact .contact-flex .location .contact-img img {
  width: 40px;
}
* body .container .contact-container .contact .contact-flex .location .location-dhaka {
  margin-left: 30px;
}
* body .container .contact-container .contact .contact-flex .location .location-dhaka h2 {
  color: black;
  margin-bottom: 5px;
}
@media (max-width: 900px) {
  * body .container .contact-container .contact .contact-flex .location .location-dhaka h2 {
    text-align: start;
  }
}
* body .container .contact-container .contact .contact-flex .mail {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
@media (max-width: 900px) {
  * body .container .contact-container .contact .contact-flex .mail {
    margin-left: 0;
    margin-top: 20px;
  }
}
* body .container .contact-container .contact .contact-flex .mail .mail-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
* body .container .contact-container .contact .contact-flex .mail .mail-img img {
  width: 40px;
}
* body .container .contact-container .contact .contact-flex .mail .mail-me {
  margin-left: 30px;
}
* body .container .contact-container .contact .contact-flex .mail .mail-me h2 {
  color: black;
  margin-bottom: 5px;
}
@media (max-width: 900px) {
  * body .container .contact-container .contact .contact-flex .mail .mail-me h2 {
    text-align: start;
  }
}
* body .container .contact-container .contact .contact-flex .mail .mail-me a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 414px) {
  * body .container .contact-container .contact .contact-flex .mail .mail-me a {
    font-size: 12px;
  }
}
* body .container .footer-container {
  background: #d7d5d5;
  padding: 30px 0;
}
* body .container .footer-container .footer {
  margin: 0 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 900px) {
  * body .container .footer-container .footer {
    margin: 0 13%;
  }
}
@media (min-width: 1367px) {
  * body .container .footer-container .footer {
    margin: 0 20%;
  }
}
* body .container .footer-container .footer h3 {
  font-size: 20px;
}
@media (max-width: 900px) {
  * body .container .footer-container .footer h3 {
    font-size: 12px;
  }
}
* body .container .footer-container .footer .footer-icon {
  display: flex;
  align-items: center;
}
* body .container .footer-container .footer .footer-icon a .linkedin,
* body .container .footer-container .footer .footer-icon a .github {
  width: 20px;
}
@media (max-width: 900px) {
  * body .container .footer-container .footer .footer-icon a .linkedin,
  * body .container .footer-container .footer .footer-icon a .github {
    font-size: 15px;
  }
}
* body .container .footer-container .footer .footer-icon a .github {
  margin-left: 20px;
}
@media (max-width: 900px) {
  * body .container .footer-container .footer .footer-icon a .github {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */