* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    body {
        font-family: 'Bellefair', serif;

        .container {
            nav {
                margin-top: -0.5rem;
                padding: 20px;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

                img {
                    max-width: 1030px;
                    height: auto;

                }

                ul {
                    list-style: none;
                    display: flex;

                    a {
                        margin: 20px;
                        text-decoration: none;
                        color: #333;

                        li {
                            font-size: 22px;
                        }
                    }
                }
            }

            .section {
                background: #f7f7f7;
                padding: 20px 0;

                .content {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    padding: 50px 0;

                    .details {
                        h2 {
                            font-size: 40px;
                            letter-spacing: 0px;
                        }

                        p {
                            font-size: 20px;
                            color: #999;
                            padding: 15px 0;
                        }

                        .socialIcon {

                            .github,
                            .linkedin {
                                width: 30px;
                                height: auto;

                                &:first-child {
                                    margin-right: 30px;
                                }
                            }
                        }
                    }

                    .profile {

                        .me {
                            width: 200px;
                            border: 3px solid #333;
                            -webkit-animation: move 3s infinite alternate;
                            animation: move 3s infinite alternate;

                            @-webkit-keyframes move {
                                from {
                                    border-radius: 36% 32% 45% 65% / 27% 36% 34% 33%;
                                }

                                to {

                                    border-radius: 36% 4% 33% 7% /38% 55% 25% 32%;
                                }
                            }

                            @keyframes move {
                                from {
                                    border-radius: 36% 32% 45% 65% / 27% 36% 34% 33%;
                                }

                                to {

                                    border-radius: 36% 4% 33% 7% /38% 55% 25% 32%;
                                }
                            }
                        }
                    }
                }

                .skills {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    h2 {
                        font-size: 20px;
                    }

                    .skillsLogo {
                        background: #ffffff;
                        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                        border-radius: 10px;
                        padding: 5px 10px;

                        img {
                            padding: 5px;
                            margin: 0 5px;
                            width: 60px;
                        }
                    }
                }
            }

        }
    }
}