/**
  *
  * Testing
  *
  **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* body {
  font-family: "Bellefair", serif;
}
* body .container nav {
  margin-top: -0.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
* body .container nav img {
  max-width: 1030px;
  height: auto;
}
* body .container nav ul {
  list-style: none;
  display: flex;
}
* body .container nav ul a {
  margin: 20px;
  text-decoration: none;
  color: #333;
}
* body .container nav ul a li {
  font-size: 22px;
}
@media (max-width: 900px) {
  * body .container nav {
    display: none;
  }
}
* body .container .sidebar-container {
  padding: 10px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
* body .container .sidebar-container img {
  width: 25px;
  height: auto;
  margin-left: 3%;
}
@media (min-width: 900px) {
  * body .container .sidebar-container img {
    display: none;
  }
}
* body .container .sidebar-container .overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: #000;
  overflow: hidden;
  transition: 0.5s;
}
* body .container .sidebar-container .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
* body .container .sidebar-container .overlay a:hover, * body .container .sidebar-container .overlay a:focus {
  color: #f1f1f1;
}
@media (min-width: 900px) {
  * body .container .sidebar-container .overlay a {
    font-size: 20px;
  }
}
* body .container .sidebar-container .overlay .closebtn {
  position: absolute;
  top: -10px;
  right: 20px;
  font-size: 60px;
}
* body .container .sidebar-container .overlay .closebtn svg:hover path {
  fill: #ffffff;
}
@media (min-width: 900px) {
  * body .container .sidebar-container .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
* body .container .sidebar-container .overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
@media (min-width: 900px) {
  * body .container .sidebar-container .overlay {
    display: none;
  }
}
* body .container .openbtn {
  position: absolute;
  cursor: pointer;
  right: 7%;
  top: 15px;
}
@media (min-width: 900px) {
  * body .container .openbtn {
    display: none;
  }
}
* body .container .section {
  background: #f7f7f7;
  padding: 20px 0;
}
* body .container .section .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0;
}
* body .container .section .content .details h2 {
  font-size: 40px;
  letter-spacing: 0px;
}
* body .container .section .content .details p {
  font-size: 20px;
  color: #999;
  padding: 15px 0;
}
* body .container .section .content .details .socialIcon .github,
* body .container .section .content .details .socialIcon .linkedin {
  width: 30px;
  height: auto;
}
* body .container .section .content .details .socialIcon .github:first-child,
* body .container .section .content .details .socialIcon .linkedin:first-child {
  margin-right: 30px;
}
* body .container .section .content .profile .me {
  width: 200px;
  border: 3px solid #333;
  animation: move 3s infinite alternate;
}
@keyframes move {
  from {
    border-radius: 36% 32% 45% 65%/27% 36% 34% 33%;
  }
  to {
    border-radius: 36% 4% 33% 7%/38% 55% 25% 32%;
  }
}
* body .container .section .skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
* body .container .section .skills h2 {
  font-size: 20px;
}
* body .container .section .skills .skillsLogo {
  background: #ffffff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 10px;
  padding: 5px 10px;
}
* body .container .section .skills .skillsLogo img {
  padding: 5px;
  margin: 0 5px;
  width: 60px;
}/*# sourceMappingURL=style.css.map */