@import "./breakpoints/breakpoints.scss";

// SAMPLE OF MEDIA WORK
// @include media (">phone","<=425","retina2x")
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    body {
        font-family: "Bellefair", serif;

        .container {
            nav {
                margin-top: -0.5rem;
                padding: 20px;
                // background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

                img {
                    max-width: 1030px;
                    height: auto;
                }

                ul {
                    list-style: none;
                    display: flex;

                    a {
                        margin: 20px;
                        text-decoration: none;
                        color: #333;

                        li {
                            font-size: 22px;
                        }
                    }
                }

                @include media("<=tablet") {
                    display: none;
                }
            }

            .contentcontainer {
                background: #f7f7f7;
                height: auto;

                @include media("<=tablet") {
                    padding: 0 10px;
                }

                .contentdiv {
                    @include media(">=tablet") {
                        // width: 70% ;
                        margin: 0 13%;
                    }

                    @media (min-width:1350px) {
                        margin: 0 26%;
                    }

                    .sidebar-container {
                        background: #ffffff;
                        padding: 10px;
                        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

                        img {
                            width: 25px;
                            height: auto;
                            margin-left: 3%;

                            @include media(">=tablet") {
                                display: none;

                            }
                        }

                        .overlay {
                            height: 0;
                            width: 100%;
                            position: fixed;
                            z-index: 1;
                            left: 0;
                            top: 0;

                            background: #000;
                            overflow: hidden;
                            transition: 0.5s;

                            a {
                                padding: 8px;
                                text-decoration: none;
                                font-size: 36px;
                                color: #818181;
                                display: block;
                                transition: 0.3s;

                                &:hover,
                                &:focus {
                                    color: #f1f1f1;
                                }

                                @include media(">=tablet") {
                                    font-size: 20px;
                                }
                            }

                            .closebtn {
                                position: absolute;
                                top: -10px;
                                right: 20px;
                                font-size: 60px;

                                svg {
                                    &:hover path {
                                        fill: #ffffff;
                                    }
                                }

                                @include media(">=tablet") {
                                    font-size: 40px;
                                    top: 15px;
                                    right: 35px;
                                }
                            }

                            .overlay-content {
                                position: relative;
                                top: 25%;
                                width: 100%;
                                text-align: center;
                                margin-top: 30px;
                            }

                            @include media(">=tablet") {
                                display: none;
                            }
                        }

                        @include media(">=tablet") {
                            background: none;

                        }
                    }

                    .openbtn {
                        position: absolute;
                        cursor: pointer;
                        right: 7%;
                        top: 15px;

                        @include media(">=tablet") {
                            display: none;
                        }
                    }

                    .section {
                        background: #f7f7f7;
                        padding: 20px 0;

                        .content {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding: 50px 0;

                            @include media("<=tablet") {
                                flex-direction: column-reverse;
                                text-align: center;
                            }

                            .details {

                                h2 {
                                    font-size: 40px;

                                    @media(min-width:900px)and (max-width:1050px) {
                                        font-size: 30px;

                                    }
                                }

                                p {
                                    font-size: 20px;
                                    color: #999;
                                    padding: 15px 0;
                                }

                                .socialIcon {

                                    .github,
                                    .linkedin {
                                        width: 30px;
                                        height: auto;

                                        &:first-child {
                                            margin-right: 30px;
                                        }
                                    }
                                }

                                @include media("<=tablet") {
                                    margin: 20px 0;
                                }

                                @media(min-width:900px)and (max-width:1050px) {
                                    // background: #000;
                                    width: 450px;
                                }

                            }

                            .profile {
                                .me {
                                    width: 200px;
                                    border: 3px solid #333;
                                    -webkit-animation: move 3s infinite alternate;
                                    animation: move 3s infinite alternate;

                                    @-webkit-keyframes move {
                                        from {
                                            border-radius: 36% 32% 65% 65% / 77% 36% 74% 63%;
                                        }

                                        to {
                                            border-radius: 36% 34% 33% 37% /38% 55% 35% 32%;
                                        }
                                    }

                                    @keyframes move {
                                        from {
                                            border-radius: 36% 32% 45% 65% / 27% 36% 34% 33%;
                                        }

                                        to {
                                            border-radius: 36% 10% 33% 7% /38% 55% 25% 32%;
                                        }
                                    }
                                }

                                @include media("<=tablet") {
                                    margin: -20px 0 20px 0;
                                }
                            }


                        }

                        .skills {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            @media(max-width:1312px) {
                                flex-direction: column;
                            }

                            h2 {
                                font-size: 20px;

                                @media(max-width:1312px) {
                                    padding-bottom: 20px;
                                    font-size: 25px;
                                    text-decoration: rgb(144, 143, 143) underline;
                                    text-underline-offset: 5px;
                                    // color: red;
                                }

                                span {
                                    @media(max-width:1312px) {
                                        display: none;
                                    }
                                }
                            }

                            .skillsLogo {
                                margin-left: 30px;
                                background: #ffffff;
                                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                                border-radius: 10px;
                                padding: 5px 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-wrap: wrap;

                                img {
                                    padding: 5px;
                                    margin: 0 5px;
                                    width: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}